---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Personal",
    price: "$144.48",
    mensualidad: "$5",
    popular: false,
    features: [
      "Integración del sistema",
      "Envío de mensajes ilimitados",
      "Contactos ilimitados",
      "Mensajes personalizados",
      "Soporte",
    ],
    button: {
      text: "Contactar!",
      link: "/contact",
    },
  },
];
---

<Layout title="Precios">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Precio</Fragment>
      <Fragment slot="desc"
        >Este es el precio de la integración y la mensualidad del sistema</Fragment
      >
    </Sectionhead>

    <div class="w-80 text-center mx-auto mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
