---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Implementación de nuestro sistema",
    description:
      "Nos encargamos de implementar nuestro sistema en tu aplicación y adaptarlo según tus necesidades.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Envío masivo de mensajes",
    description:
      "Realiza envío de mensajes de forma masiva e ilimitada a los contactos que desees.",
    icon: "bx:bxs-arrow-from-left",
  },
  {
    title: "Personalización de mensajes",
    description:
      "Crea mensajes personalizados y adapta el contenido a las preferencias y características de cada cliente.  ",
    icon: "bx:bx-edit",
  },
  {
    title: "Integración",
    description:
      "Nuestro sistema puede ser integrado en SASS, TAILWIND, BOOSTSTRAP, JAVASCRIPT, REACT, PHP, LARAVEL, NODE.JS.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Diseño amigable",
    description:
      "El diseño del sistema es muy parecido al de WhatsApp, con el objetivo de que la interacción con el sistema sea fácil",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Soporte",
    description:
      "Ofrecemos soporte ante cualquier problema presentado.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Nuestros servicios
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Nuestros servicios de mensajería masiva de WhatsApp están diseñados para ayudarte a optimizar tu comunicación con los clientes y maximizar el alcance de tu negocio.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
